version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
      - "9229:9229" # デバッグ用ポート
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env.development
    depends_on:
      db:
        condition: service_healthy
    # command: npm run dev # この行を削除またはコメントアウト
    environment:
      - NODE_ENV=development
      # - NEXT_TELEMETRY_DISABLED=1 # 必要に応じて
      # - PORT=3001 # portは3000にマッピングしているので通常は不要

  db:
    image: postgres:14
    ports:
      - "5432:5432"
    env_file:
      - .env.development
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck: # データベースの準備が整うのを待つために追加
      test: ["CMD-SHELL", "pg_isready -U postgres -d engage"]
      interval: 10s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4
    ports:
      - "5050:80"
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin
      - PGADMIN_CONFIG_SERVER_MODE=False
      - PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED=False
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

volumes:
  postgres_data:
  pgadmin_data: